<ion-app>
    <ion-header>
      <ion-toolbar class="text-center">
        <ion-title>Quem somos?</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-card>
        <ion-card-header class="text-center margem-acima">
          <ion-card-title class="titulo">Eulen</ion-card-title>
          <ion-card-subtitle>O seu preparatório online para o vestibular!</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <div class="text-center margem-acima">
            <p>Somos uma instituição que tem por objetivo levar preparação para o vestibular de maneira acessível</p>
            <div class="margem-acima">
              <img src="https://i.pinimg.com/originals/65/43/e7/6543e7cc81c97f2f14a4b9c6a47957ca.png" alt="garota anime estudando"/>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-content>