.text-center {
  text-align: center;
}

.ion-button {
  border-style: solid;
  border-color: #7986CB;
  border-width: 1px; 
  color: #7986CB;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
}

.ion-button:hover {
  background-color: #7986CB;
  color: white;
}

.margem-acima {
  margin-top: 15%;
}

.cor-toolbar {
  background-color: #A1887F;
  color: white;
}
